
/* Commom  */

/* review brand  */
img.review-brand-logo {
    height: 59px;
    width: 115px;
    margin-top: 25px;
}
img.review-brand-logo-right {
    width: 110px;
    height: 75px;
    margin-top: 18px;
}

/* Hostport responsive  */
@media (max-width: 480px){
.feature_explore-area .hotspots-wrapper .hot-spots-image .hotspots-content p {
    padding: 1px 10px;
    font-size: 6px;
}
}


/* single product page style here  */

.compare-models-area .video-slider, .video-slider-area .video-slider {
    position: relative;
    margin-bottom: 60px;
}


/* privcy policy  */
.privacy-list-item li{
    margin-left: 30px;
    padding: 0;
    list-style: decimal;
}


/* product table  */

.bg-tables-top{
    background-color: #db545a !important;
    color: #fff;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
    text-align: center;
}

span.box-black-table {
    width: 0;
    background: black;
    display: inline-block;
    padding: 12px;
}
span.box-red-table {
    width: 0;
    background: red;
    display: inline-block;
    padding: 12px;
    margin-right: 5px;
    margin-left: 5px;
}
span.box-yellow-table {
    width: 0;
    background: yellow;
    display: inline-block;
    padding: 12px;
}

@media (max-width: 480px) {
    tbody, td, tfoot, th, thead, tr {
    font-size: 10px;
}
}