
/* Commom  */
/* top hader  */

ul.login-icon .my-account {
    display: none;
}
.social-media-info .login-account {
    display: none !important;
}
/* review brand  */
img.review-brand-logo {
    height: 59px;
    width: 115px;
    margin-top: 25px;
}
img.review-brand-logo-right {
    width: 110px;
    height: 75px;
    margin-top: 18px;
}
.hero-section .bannar-wrapper {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* padding: 200px 0; */
}

@media (max-width: 767px){
    img.review-brand-logo {
        margin-top: 0;
    }
    img.review-brand-logo-right {
        margin-top: 0px;
        height: 59px;
    }.col-lg-3.last-image img {
        width: 100% !important;
        height: 100%;
    }
    img.review-brand-logo {
        height: 50px;
        width: 70px;
        margin-top: 5px !important;
    }
    img.review-brand-logo-right {
        width: 80px !important;
        height: 56px !important;
    }
    }


/* Hostport responsive  */
@media (max-width: 767px){
.feature_explore-area .hotspots-wrapper .hot-spots-image .hotspots-content p {
    padding: 1px 10px;
    font-size: 6px;
}
}

/* single product page style here  */

.compare-models-area .video-slider, .video-slider-area .video-slider {
    position: relative;
    margin-bottom: 40px;
}

/* privcy policy  */
.privacy-list-item li{
    margin-left: 30px;
    padding: 0;
    list-style: decimal;
}

/* product table  */

.bg-tables-top{
    background-color: #db545a !important;
    color: #fff;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
    text-align: center;
}

span.box-black-table {
    width: 0;
    background: black;
    display: inline-block;
    padding: 12px;
}
span.box-red-table {
    width: 0;
    background: red;
    display: inline-block;
    padding: 12px;
    margin-right: 5px;
    margin-left: 5px;
}
span.box-yellow-table {
    width: 0;
    background: yellow;
    display: inline-block;
    padding: 12px;
}
span.box-blue-table {
    width: 0;
    background: blue;
    display: inline-block;
    padding: 12px;
}
span.box-gold-table {
    width: 0;
    background: rgb(231, 208, 2);
    display: inline-block;
    padding: 12px;
}
span.box-dark-table {
    width: 0;
    background: rgb(176, 176, 180);
    display: inline-block;
    padding: 12px;
}

@media (max-width: 480px) {
    tbody, td, tfoot, th, thead, tr {
    font-size: 10px;
}

}

/* Top Header  */

ul.cntry-flag a {
    display: contents !important;
}

/* Home Page Tape section  */

.btn-box-tap{
    position: absolute;
    left: 12px;
    margin-top: -66px;
}
a.taps-view-more-btn {
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #B4202D;
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.05);
    display: inline-block;
}

.skywalker-top {
    margin-top: 10px !important;
}

@media (max-width: 767px){
.btn-box-tap {
    position: absolute;
    left: 12px;
    margin-top: -127px !important;
}
a.taps-view-more-btn {
    font-size: 8px !important;
    padding: 2px 15px !important;
}
.skywalker-top {
    margin-top: -107px !important;
}
.together-area .swiper-pointer-events {
    padding: 0px !important;
}
.product-column-item.product-tab-content {
    margin-bottom: 38px;
}
/* vedio section  */
.together-area .swiper-button-prev {
    left: 5%;
}

}

/* Home page vedio */

/* .py-vedio {
    padding: 30px 0px 0px 0px;
} */

.together-area .swiper-pointer-events {
    padding: 113px;
}
.together-area .swiper-button-prev {
    left: 21%;
    background-color: #00000094;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.together-area .swiper-button-next {
    right: 21%;
    background-color: #00000094;
    border-radius: 50px;
    height: 40px;
    width: 40px;
}
@media (max-width: 767px){
    .together-area .swiper-button-prev {
        left: 5%;
    }
    .together-area .swiper-button-next {
        right: 5%;
    }
}
