@import 'form';

/*======== custom header ============*/

.kaabo-header-area {
    .header-top-wrapper {
        background-color: #f3f3f3;

        .header-top {
            padding: 7px 0;

            .search {
                a {
                    color: #888888;
                }
            }

            ul {
                li {
                    color: #888888;
                }

                &.cntry-flag {
                    li {
                        color: #000000;
                    }
                }

                &.login-icon:before {
                    background-color: #888888;
                }
            }
        }
    }

    .header_area {
        margin-top: 0;

        .main-menu-wrapper {
            .nav-tools {
                padding-left: 0;
            }

            .header-right-button {
                padding-right: 0;
            }
        }
    }
}

.counter-area,
.footer-area {
    background-color: #fff;
}

/*====== bannar area start ==========*/
.hero-section {
    position: relative;

    .bannar-wrapper {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 200px 0;

        // &.bg-overlay{
        //     position: relative; 
        //     &:after {
        //         position: absolute;
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //         z-index: 0;
        //         background-color: rgba(0, 0, 0, 0.5);
        //     }
        // } 
        .banner-content-inner {
            position: relative;
            z-index: 1;

            .bannar-heading {
                font-size: 30px;
                line-height: 40px;
                font-weight: 700;
                color: #fff;
                margin: 0;
            }

            .banner-subtitle {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
        }
    }
}

.kaabo-about-details {
    padding-bottom: 50px;

    .section-title {
        padding-top: 50px;
        margin-bottom: 40px;

        @media(max-width: 767px) {
            h2 {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 40px;
                    height: -4px;
                    transform: translateX(-50%);
                    background-color: $primary-color;
                }
            }
        }
    }

    .about-description {
        @media(max-width: 767px) {
            margin-top: 20px;
        }

        @media(min-width: 768px) {
            padding: 0 15px;
        }

        p {
            color: #000000;

        }
    }

    img {
        border-radius: 10px;
    }
}