.btn-box {
    a {
        text-decoration: none;
        padding: 15px 20px;
        line-height: 1;
        border-radius: 4px;
        background-color: $primary-color;
        box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, .05);
        color: #ffffff;
        transition: all 0.4s;
        font-size: 15px;
        font-weight: 500;
        display: inline-block;

        i {
            padding-left: 5px;
        }

        @media(max-width: 480px) {
            padding: 12px 15px;
            font-size: 10px;
        }
    }
}

.button-group {
    a {
        letter-spacing: 0.8px;
        font-size: 14px;
    }

    .guide-btn {
        margin-right: 20px;
    }

    .catalog-btn {
        background-color: #000000;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .05);
    }
}