@import 'header';
@import 'footer';
@import 'fontface';
@import 'button';
@import 'form';

/*======== custom header ============*/
.kaabo-header-area {
    .header-top-wrapper {
        background-color: #f3f3f3;

        .header-top {
            padding: 7px 0;

            .search {
                a {
                    color: #888888;
                }
            }

            ul {
                li {
                    color: #888888;
                }

                &.cntry-flag {
                    li {
                        color: #000000;
                    }
                }

                &.login-icon:before {
                    background-color: #888888;
                }
            }
        }
    }

    .header_area {
        margin-top: 0;

        .main-menu-wrapper {
            .nav-tools {
                padding-left: 0;
            }

            .header-right-button {
                padding-right: 0;
            }
        }
    }
}

.counter-area,
.footer-area {
    background-color: #fff;
}

@media(max-width: 767px) {
    .section-padding {
        padding: 20px 0;
    }
}

/*====== bannar area start ==========*/
.hero-section {
    position: relative;

    .bannar-wrapper {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 200px 0;

        // &.bg-overlay {
        //     position: relative;

        //     &:after {
        //         position: absolute;
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         top: 0;
        //         left: 0;
        //         z-index: 0;
        //         background-color: rgba(0, 0, 0, 0.5);
        //     }
        // }

        .banner-content-inner {
            position: relative;
            z-index: 1;

            .bannar-heading {
                font-size: 30px;
                line-height: 40px;
                font-weight: 700;
                color: #fff;
                margin: 0;
            }

            .banner-subtitle {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
        }
    }
}

/*========== why choose =============*/
.why-choose-kaabo-area {
    overflow: hidden;

    @media(max-width: 767px) {
        padding-bottom: 50px;
    }

    .grid-item {
        >[class*=col-] {
            display: flex;
        }

        @media(max-width:768px) {
            display: none;
        }
    }

    .why-choose-single-item {
        text-align: center;
        padding: 50px 20px 20px;
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);

        img {
            //width: 50px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 25px;
        }

        p {
            margin: 0;
            color: #7a7a7a;
        }
    }

    .slider-only-mobile {
        @media(min-width: 768px) {
            display: none;
        }

        .swiper-wrapper {
            align-items: flex-start;
        }

        .why-choose-item {
            transform: scale(.9);

            &.swiper-slide-active {
                transform: scale(1);
            }
        }

        .why-choose-item {
            .why-choose-single-item {
                margin-bottom: 0;
                min-height: 340px;
            }
        }
    }
}

.section-title {
    h2 {
        text-transform: capitalize;
    }
}

/*======= dealer policy ============*/
.kaabo-dealer-policy {
    .container {
        padding: 0;
    }

    .section-title {
        padding: 40px 30px;
        margin-bottom: 0;

        h2 {
            color: #ffffff;
            text-transform: capitalize;

            &::after {
                background-color: #ffffff !important;
                width: 60px !important;
            }
        }

        p {
            color: #ffffff;
            margin-bottom: 20px;

        }

        @media(max-width: 767px) {
            padding: 25px 15px;
        }
    }

    .list-item {
        padding-left: 20px;
        margin-bottom: 20px;

        li {
            list-style: disc;
            color: #efefef;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .btn-box {
        a {
            font-size: 15px;
            font-weight: 500;
            color: $primary-color;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.dealer-support {
    .container {
        padding: 0 15px !important;
    }

    h3 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    p {
        // font-size: 14px; 
    }

    ul {
        padding-left: 20px;
        margin-bottom: 20px;

        li {
            list-style: disc;
            font-size: 14px;
            font-weight: 30;
            line-height: 20px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    img {
        height: 100%;
    }

    @media(max-width: 767px) {
        h3 {
            font-size: 18px;
        }

        .right-content {
            padding-left: 10px !important;
        }

        img {
            height: auto;
            margin-bottom: 20px;
        }

        .btn-box {
            margin-bottom: 20px;
        }
    }
}

.become-dealer-support {
    .container {
        padding: 0 0 !important;
    }

    @media(max-width: 767px) {
        .right-content {
            padding-top: 0 !important;
            padding-bottom: 30px !important;
        }
    }
}

@media(max-width: 767px) {
    .left-content {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    img {
        height: auto;
        margin-bottom: 20px;
    }
}