@import 'header';
@import 'footer';
@import 'fontface';
@import 'button';
@import 'form';

/*======== custom header ============*/
.kaabo-header-area { 
    .header-top-wrapper{
        background-color: #f3f3f3;
        .header-top{
            padding: 7px 0;
            .search{
                a{
                    color: #888888; 
                }
            } 
            ul {
                li { 
                    color: #888888;  
                }
                &.cntry-flag{
                    li{
                        color: #000000;
                    }
                }
                &.login-icon:before {
                    background-color: #888888;
                }
            }
        }
    }
    .header_area {
        margin-top: 0; 
        .main-menu-wrapper {
            .nav-tools { 
                padding-left: 0;
            }
            .header-right-button {
                padding-right: 0;
            }
        }
    }
}

.counter-area, .footer-area{
    background-color: #fff;
}

/*====== bannar area start ==========*/
.hero-section{
    position: relative;
    .bannar-wrapper{ 
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; 
        padding: 200px 0;  
        &.bg-overlay{
            position: relative; 
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
        } 
        .banner-content-inner{
            position: relative; 
            z-index: 1;
            .bannar-heading{
                font-size: 30px;
                line-height: 40px;
                font-weight: 700;
                color: #fff;
                margin: 0;
                @media(max-width: 767px){
                    font-size: 20px;
                    line-height: 30px;
                }
            } 
        }
        @media(max-width: 767px){
            padding: 150px 0;
        }  
    }
} 

.faq-area{
    @media(max-width: 767px){
        .row{
            [class*="col-"]{
                padding: 0 10px !important;
            }
        }
        .section-title{
            text-align: center !important;
            &.line-border{
                h2{
                    &::after{
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

.accordion{
    border: unset;
    background: transparent;
    padding: 0;
    margin: 0;
    .accordion-item{
        border-radius: unset;
        background-color: transparent;
        border: unset;
        border-bottom: 2px solid #999999; 
        .accordion-header{
            border: unset;
            font-size: 15px;
            color: #000000;
            font-weight: 700;
            button{
                background-color: transparent;
                border: unset;
                padding: 20px 0;
                width: 100%;
                text-align: left;
                display: flex;
                i{
                    padding-right: 15px;
                    transition: transform .4s ease, -webkit-transform .4s ease;
                    &:last-child{
                        display: none;
                    }
                }
                &[aria-expanded="true"]{
                    i{
                        &:first-child{
                            display: none;
                        }
                        &:last-child{
                            display: block;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .accordion-body{
            padding: 5px 20px 25px 33px;
            color: #454545;
            font-weight: 300;
            line-height: 30px;
        }
    }
}