

@font-face {
    font-family: 'AntiqueOliveBlack';
    src: url('../fonts/Antique/AntiqueOliveBlack.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-NordItalic.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-NordItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Bold.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Light.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive BQ';
    src: url('../fonts/Antique/AntiqueOliveBQ-Italic.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveBQ-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Nord.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Nord.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Roman.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UB-AntiqueOliveLight';
    src: url('../fonts/Antique/UB-AntiqueOliveLight-Italic.woff2') format('woff2'),
        url('../fonts/Antique/UB-AntiqueOliveLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UB-AntiqueOliveBlack';
    src: url('../fonts/Antique/UB-AntiqueOliveBlack-Italic.woff2') format('woff2'),
        url('../fonts/Antique/UB-AntiqueOliveBlack-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive BQ';
    src: url('../fonts/Antique/AntiqueOliveBQ-Italic.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveBQ-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Nord.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Nord.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntiqueOliveBlack';
    src: url('../fonts/Antique/AntiqueOliveBlack.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AntiqueOlive';
    src: url('../fonts/Antique/AntiqueOlive-Bold-Italic.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOlive-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-NordItalic.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-NordItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Light.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Roman.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antique Olive Std';
    src: url('../fonts/Antique/AntiqueOliveStd-Bold.woff2') format('woff2'),
        url('../fonts/Antique/AntiqueOliveStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UB-AntiqueOliveLight';
    src: url('../fonts/Antique/UB-AntiqueOliveLight-Italic.woff2') format('woff2'),
        url('../fonts/Antique/UB-AntiqueOliveLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UB-AntiqueOliveBlack';
    src: url('../fonts/Antique/UB-AntiqueOliveBlack-Italic.woff2') format('woff2'),
        url('../fonts/Antique/UB-AntiqueOliveBlack-Italic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

