.contact-form{
    .form-group{
        margin-bottom: 20px;
        .form-control{
            background: #ffffff;
            border: 1px solid #ced4da; 
            border-radius: 3px;
            padding-left: 15px;
            font-size: 13px;
            resize: none; 
            outline: 0 none;  
            transition: all .3s ease;
            &.input{
                height: 48px;
            } 
            &:focus{
                box-shadow: none;
            }
            &.textarea{
                padding-top: 15px;
            }
        }
        textarea, &::-webkit-input-placeholder{
            color:#6A6A6A;
        }
        .submit-btn{ 
            font-size: 13px;
            width: 100%;
            height: 45px;
        }
    }
}