/*header css start*/

.kaabo-header-area {

    //top 
    .header-top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-gap: 20px;
        padding-bottom: 10px;

        .search {
            position: relative;

            a {
                color: #fff;
            }

            .input-group {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 100%;
            }

            &.open {
                .search-form {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .search-form {
            position: absolute;
            width: 290px;
            box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .3);
            top: 100%;
            left: auto;
            padding: 15px;
            background-color: #ffffff;
            right: 100%;
            z-index: 999;
            transform: translateX(10px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s linear;

            .form-control {
                font-size: 14px;
                font-weight: 400;
                border: 1px solid #ced4da;
                padding: 0px;
                border-radius: 0px;
                background-color: #f5f5f5;
                box-shadow: none;
                padding-left: 15px;
                height: 38px;
            }
        }

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #ffffff;
                font-size: 14px;

                img {
                    width: 20px;
                    height: 16px;
                    vertical-align: middle;
                    margin: 0;
                    margin-right: 5px;
                }
            }
        }

        ul+ul {
            position: relative;
        }

        ul {
            &.login-icon {
                position: relative;

                li {
                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    a {
                        color: inherit;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 60%;
                    left: 0;
                    background-color: #ffffff;
                    margin-left: -11px;
                }
            }
        }
    }

    .header_area {
        margin-top: 10px;
        display: block;

        &.header-sticky {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1024;
            background-color: #fff;
            box-shadow: 0 15px 20px -8px rgba(0, 0, 0, .06);
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            margin: 0;

            .header-top {
                display: none;
            }

            .main-menu-wrapper {

                .nav-tools,
                .header-right-button {
                    padding: 0;
                }
            }
        }


        .btn-wrapper {
            .shop-now_btn {
                outline: 0;
                padding: 10px 20px;
                font-size: 13px;
                line-height: 1;
                background-color: $primary-color;
                color: #ffffff;
                display: inline-flex;
                border-radius: 3px;
                align-items: center;
                gap: 5px;
                text-transform: uppercase;
                font-weight: 500;

                i {
                    padding-right: 3px;
                }

                @media(max-width: 992px) {
                    padding: 9px 12px;
                    font-size: 10px;
                }
            }
        }

        .main-menu-wrapper {
            background: #fff;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 50px;
            align-items: center;
            position: relative;

            .nav-tools {
                position: relative;
                padding-left: 30px;

                .nav-sitebar-button {
                    cursor: pointer;
                    font-size: 20px;
                    color: #000000;
                    background-color: transparent;
                    border: unset;
                    margin: 0;
                    padding: 0;
                    vertical-align: middle;
                }

                @media(max-width: 991px) {
                    padding-left: 10px;
                }

                @media(min-width: 992px) {
                    display: none;
                }
            }

            .middle-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;

                ul.main-menu {
                    display: flex;

                    &.text-left {
                        margin-right: auto;
                    }

                    &.text-right {
                        margin-left: auto;
                    }

                    li.menu-item {
                        position: relative;
                        text-align: left;

                        &:not(:last-child) {
                            margin-right: 40px;

                            @media(max-width: 1200px) {
                                margin-right: 20px;
                            }
                        }

                        a {
                            display: block;
                            font-size: 13px;
                            color: #000000;
                            padding: 18px 0;
                            font-weight: 500;
                            text-transform: uppercase;
                        }

                        .has-submenu-item {
                            >li {
                                &:not(:last-child) {
                                    >a {
                                        border-bottom: 1px solid #f7f7f7;
                                    }
                                }

                                >a {
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    padding-left: 20px;
                                    padding-right: 20px;
                                    display: block;
                                    color: #000000;
                                    font-size: 13px;
                                    font-weight: 500;
                                    text-decoration: none;
                                    background-color: transparent;
                                    transition: all .4s ease;
                                }

                                &:hover {
                                    a {
                                        color: $primary-color;
                                    }
                                }
                            }

                            .submenu-indicator {
                                float: right;
                                transition: all 0.4s ease;
                            }
                        }

                        &:hover {
                            a {
                                color: $primary-color;
                            }

                            .nav-dropdown {
                                opacity: 1;
                                visibility: visible;
                                pointer-events: auto;
                                transform: scaleY(1);
                            }
                        }
                    }

                    @media(max-width: 991px) {
                        display: none;
                    }

                    .nav-dropdown {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 1000;
                        min-width: 200px;
                        border-radius: 0 0 5px 5px;
                        transform: scaleY(0);
                        transform-origin: 0 0 0;
                        transition: transform 0.4s ease, -webkit-transform 0.4s ease;
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                        box-shadow: 0 15px 20px -8px rgba(0, 0, 0, .06);
                        background-color: #ffffff;
                        border: 0px solid #000;


                        >li.menu-item {
                            margin: 0;

                            // &::after {
                            //     content: '';
                            //     display: block;
                            //     border-bottom: 1px solid #e8e8e1;
                            // }
                            &.top-position {
                                position: static;
                            }

                            >a {
                                position: relative;
                                text-align: left;
                                border: unset;
                                display: flex !important;
                                align-items: center;
                                justify-content: space-between;

                                i {
                                    float: right;
                                }
                            }

                            .dropdown-submenu {
                                //min-width: 180px;
                                min-width: 200px;

                                >li.menu-item {
                                    margin: 0;
                                    position: static;

                                    >a {
                                        padding: 5px 20px;
                                        color: #000000;
                                        font-size: 12px;
                                    }

                                    &:hover {
                                        a {
                                            color: $primary-color;
                                        }

                                        &:hover {
                                            .product_megamenu-wrapper {
                                                opacity: 1;
                                                visibility: visible;
                                                pointer-events: auto;

                                                .megamenu-content-container {
                                                    opacity: 1;
                                                    transform: translateY(0);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &:not(:last-child) {
                                .dropdown-submenu {
                                    border-bottom: 1px solid #e8e8e1;
                                }
                            }

                            .product_megamenu-wrapper {
                                position: absolute;
                                left: 100%;
                                right: inherit;
                                background-color: #ffffff;
                                top: 0;
                                width: 100%;
                                min-width: 900px;
                                opacity: 0;
                                visibility: hidden;
                                pointer-events: none;
                                box-shadow: 0 15px 20px -8px rgba(0, 0, 0, .06);
                                padding: 40px 0;
                                border-radius: 0 0 5px 5px;

                                @media(max-width:1100px) {
                                    min-width: 800px;
                                }

                                @media(max-width:1024px) {
                                    min-width: 752px;
                                }

                                .megamenu-content-container {
                                    display: flex;
                                    padding: 0 40px;
                                    align-items: center;
                                    transform: translateY(50px);
                                    transition: transform 1s cubic-bezier(.165, .84, .44, 1) .1s, opacity 1s cubic-bezier(.165, .84, .44, 1) .2s;
                                    opacity: 0;

                                    .product-large_thumbnail {
                                        width: 40%;
                                        white-space: normal;
                                        max-width: 100%;
                                        padding: 0;
                                    }

                                    .product-details-wrap {
                                        width: 60%;
                                        padding-left: 50px;

                                        .product_title {
                                            font-size: 25px;
                                            font-weight: 500;
                                        }

                                        p {
                                            margin: 20px 0;
                                            max-width: 400px;
                                        }

                                        .btn--secondary {
                                            display: inline-block;
                                            border: 1px solid #e8e8e1;
                                            padding: 10px 20px;
                                            border-radius: 0;
                                            color: #000000;
                                            letter-spacing: .3em;
                                            font-weight: 600;
                                            transition: all .4s;

                                            &:hover {
                                                border-color: #000000;
                                            }
                                        }

                                        .product-detail {
                                            padding-top: 10px;
                                            display: grid;
                                            grid-template-columns: repeat(3, 1fr);
                                            gap: 10px;

                                            .single_item {
                                                justify-self: flex-start;

                                                .product-thumb {
                                                    // height: 40px;
                                                    // width: 25px;
                                                    margin: 10px 0;
                                                }

                                                .product-text {
                                                    h3 {
                                                        font-size: 15px;
                                                        margin: 0;
                                                        line-height: 1;
                                                        margin-bottom: 5px;
                                                    }

                                                    p {
                                                        margin: 0;
                                                        font-size: 10px;
                                                        line-height: 16px;
                                                        max-width: none;
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }
                            }


                        }


                    }
                }

                .site-branding {
                    display: inline-block;
                    //padding-left: 18px;

                    a {
                        display: block;
                    }

                    img {
                        width: 45px;

                        @media(max-width: 767px) {
                            width: 30px;
                            margin: 0;
                        }
                    }
                }
            }

            .header-right-button {
                padding-right: 30px;

                @media(max-width: 991px) {
                    padding-right: 10px;
                }
            }

            @media(max-width: 991px) {
                padding: 8px 0;
            }
        }


        /*offcanvas site menu css */

        .offcanvas-site-menu {
            position: relative;
            z-index: 9999;
            display: none;

            >.offcanvas-menu-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                cursor: pointer;
                background-color: #03041c;
                transition: all 0.3s ease-out 0s;
            }

            &.nav-open {
                .offcanvas-menu-overlay {
                    opacity: 0.7;
                    visibility: visible;

                }
            }

            .offcanvas-wrapper {
                position: fixed;
                right: 0;
                top: 0;
                padding: 20px;
                width: 100%;
                max-width: 340px;
                z-index: 999999;
                background-color: #ffffff;
                opacity: 1;
                transform: translateX(calc(100% + 80px));
                transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
                overflow-y: scroll;
                overscroll-behavior-y: contain;

                .offcanvas-site-container {
                    position: relative;
                    display: flex;
                    justify-content: space-between;

                    .site-menu_close-btn {
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 2px solid #ffffff;
                        z-index: 1;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        color: #ffffff;
                        display: block;
                        background-color: transparent;
                        font-weight: normal;
                        border-radius: 50%;
                        padding: 0;
                        font-size: 15px;

                        &:hover {
                            background-color: #ffffff;
                            color: #000000;
                        }

                        @media(max-width: 767px) {
                            left: auto;
                            right: 0;
                            border: unset;
                            color: #000000;
                            width: auto;
                            height: auto;
                            line-height: 1;
                        }
                    }

                    .social-media-info {
                        ul {
                            display: flex;
                            align-items: center;

                            li {

                                &:not(:last-child) {
                                    margin-right: 12px;
                                }

                                a {
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    line-height: 30px;
                                    background-color: #adadad;
                                    text-align: center;
                                    border-radius: 100%;
                                    color: #fff;
                                    transition: all .4s;

                                    &:not(:last-child) {
                                        margin-right: 10px;
                                    }

                                    &.facebook {
                                        background-color: #1877F2;
                                    }

                                    &.instagram {
                                        background-color: #E4405F;
                                    }

                                    &.youtube {
                                        background-color: #CD201F;
                                    }

                                    &.pinterest {
                                        background-color: #BD081C;
                                    }
                                }
                            }
                        }
                    }

                    .full-menu-content {
                        position: relative;
                        padding: 35px 50px 50px;
                        flex: 1;

                        .full-menu-inner {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            min-height: 100%;
                            position: relative;

                            ul.menu-wrapper {
                                width: 25%;

                                >li.menu-item {
                                    >a {
                                        padding: 15px 25px;
                                        background-color: rgba(255, 186, 217, .17);
                                        color: #ffffff;
                                        border-radius: 5px;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        text-transform: uppercase;
                                        font-size: 16px;
                                    }

                                    &:not(:last-child) {
                                        margin-bottom: 25px;
                                    }

                                    ul.products {
                                        position: absolute;
                                        width: 75%;
                                        left: 25%;
                                        top: 0;
                                        min-height: 50vh;
                                        max-height: 100%;
                                        padding-left: 30px;
                                        display: grid;
                                        grid-template-columns: 1fr 1fr 1fr;
                                        grid-gap: 20px;
                                        transform: translateY(10px);
                                        opacity: 0;
                                        visibility: hidden;
                                        transition: all .3s linear;
                                        pointer-events: none;

                                        li.product-single-item {
                                            width: 100%;

                                            .product-link {
                                                color: #ffffff;
                                                font-size: 18px;
                                                line-height: 1;
                                                margin-bottom: 15px;
                                                display: block;
                                                position: relative;

                                                &.list-product {
                                                    &::before {
                                                        content: "";
                                                        width: 6px;
                                                        height: 6px;
                                                        margin: 0 8px 0 0;
                                                        background-color: #ffb25d;
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                        transform: translateY(-2px);
                                                    }
                                                }

                                                .product-img {
                                                    margin-bottom: 10px;
                                                    background: linear-gradient(180deg, #6c7589, #929ab3 60%);
                                                }

                                                .product-content {
                                                    h3 {
                                                        font-size: 16px;
                                                        font-weight: 500;
                                                        line-height: 26px;
                                                        margin: 0;
                                                        color: #ffffff;
                                                    }

                                                    p {
                                                        margin: 0;
                                                        color: #afafaf;
                                                        font-size: 14px;
                                                        font-weight: 300;
                                                        line-height: 20px;
                                                    }
                                                }
                                            }

                                            ul {
                                                li {
                                                    &:not(:last-child) {
                                                        margin-bottom: 8px;
                                                    }

                                                    a {
                                                        color: #afafaf;
                                                        display: inline-block;
                                                        font-size: 15px;
                                                        transition: all .4s ease;

                                                        &:hover {
                                                            color: $primary-color;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                &.kaabo-menu {
                                    >li.menu-item {
                                        &.show {
                                            >a {
                                                background-color: $primary-color;
                                                color: #ffffff;
                                            }
                                        }

                                        &.show,
                                        &:hover {
                                            >a {
                                                background-color: $primary-color;
                                                color: #ffffff;
                                            }

                                            >ul.products {
                                                transform: translateY(0);
                                                opacity: 1;
                                                visibility: visible;
                                                pointer-events: auto;
                                            }
                                        }

                                    }
                                }
                            }

                            .shipping-content-bottom {
                                display: flex;
                                justify-content: space-between;
                                margin-top: auto;
                                border-top: 1px solid #afafaf;
                                padding-top: 30px;
                                width: 100%;

                                .sinlge-item {
                                    i {
                                        font-size: 45px;
                                        margin-bottom: 10px;
                                        color: $primary-color;
                                    }

                                    .text-wrap {
                                        h3 {
                                            color: white;
                                            font-size: 20px;
                                        }

                                        p {
                                            color: #afafaf;
                                            margin: 0;
                                            font-size: 15px;
                                            font-weight: 300;
                                        }
                                    }
                                }

                                @media(max-width: 992px) {
                                    margin-top: 50px;
                                }
                            }
                        }

                        @media(max-width: 767px) {
                            display: none;
                        }
                    }

                    .right-sidebar-content {
                        margin-bottom: 30px;

                        @media(max-width: 992px) {
                            display: none;
                        }

                        .widget {
                            h3 {
                                color: #ffffff;
                                font-size: 18px;
                                margin-bottom: 12px;
                                font-weight: 500;
                            }

                            span {
                                color: #afafaf;
                            }

                            ul {
                                li {
                                    font-size: 12px;

                                    a {
                                        color: #afafaf;
                                        display: inline-block;
                                        font-size: 12px;
                                        transition: all .4s ease;

                                        &:hover {
                                            color: $primary-color;
                                        }
                                    }
                                }
                            }
                        }

                        .block-image {
                            a {
                                margin-bottom: 10px;
                                display: block;
                                background: linear-gradient(180deg, #6c7589, #929ab3 60%);
                            }
                        }
                    }




                }

                @media(max-width: 767px) {
                    max-width: 340px;
                    background-color: #ffffff;
                }
            }

            &.nav-open {
                .offcanvas-wrapper {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }

        .offcanvas {
            width: 345px;
            border: unset;

            .offcanvas-header {
                align-items: flex-start;
                padding: 20px;
                padding-bottom: 10px;

                .site-brand-logo {
                    img {
                        width: 50px;
                        margin: 0;
                    }
                }
            }

            .offcanvas-body {
                padding: 20px;
                padding-top: 15px;
            }
        }

        .offcanvas-backdrop {
            background-color: #e6e6e6;
        }

        .mobile-menu-content {

            border-top: 1px solid #e8e8e1;

            .mobile-menu-inner {
                display: flex;
                flex-direction: column;
                position: relative;

                ul.mobile-nav-dropdown {
                    li.mobile-menu-item {
                        position: relative;
                        text-align: left;

                        a.mobile-nav-link {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 16px;
                            color: #000000;
                            padding: 10px 0px;
                            border-bottom: 1px solid #f7f7f7;
                            font-weight: 400;
                            text-transform: uppercase;

                            i {
                                float: right;
                                transition: transform .3s ease-in-out;
                            }

                            &[aria-expanded=true] {
                                color: $primary-color;

                                i {
                                    transform: scaleY(-1);
                                }
                            }
                        }

                        ul.mobile-dropdown-submenu {
                            border-bottom: 1px solid #e8e8e1;

                            li.mobile-menu-item {


                                a.mobile-nav-link {
                                    text-transform: uppercase;
                                    border-bottom: 0px solid #f7f7f7;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }


            }

            a.login-account {
                padding-top: 10px;
                padding-bottom: 5px;
                display: inline-block;
                color: #000000;
                font-weight: 300;
                font-size: 16px;
            }

            .social-media-info {
                margin-top: 10px;

                ul {
                    margin: 15px 0 20px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: stretch;

                    li {
                        &:not(:last-child) {
                            margin-right: 5px;
                        }

                        border: 1px solid #e8e8e1;
                        text-align: center;
                        border-radius: 5px;
                        background-color: transparent;
                        transition: all .4s;

                        a {
                            display: block;
                            font-size: 20px;
                            color: #000000;
                            padding: 12px 26px;
                            border-radius: 50px;
                        }

                        &:hover {
                            background-color: $primary-color;

                            a {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }

        /*offcanvas site menu css End*/

        /*transparent-header css Start*/
        &.transparent-header {
            &:not(.header-sticky) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: transparent;
                z-index: 2;
            }
        }

        /*transparent-header css End*/

        /*start overlay */
        .overlay {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: fixed;
            display: none;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.9);
            opacity: 1;
        }

        .offcanvas-collapse.nav-open+.overlay {
            display: block;
        }

        @media (max-width: 991px) {
            .offcanvas-collapse.nav-open+.overlay {
                display: block;
            }

        }

        /*end overlay */
    }




}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}