.section-title {
    h2 {
        text-transform: capitalize;
        font-size: 25px;
    }
}


.kaabo-header-area {
    .header_area {
        &:not(.header-sticky) {
            .main-menu-wrapper {
                .middle-menu {
                    padding-left: 30px;

                    @media(max-width: 767px) {
                        padding-left: 7px;
                    }
                }
            }
        }

        &:not(.header-sticky) {
            .main-menu-wrapper {
                .middle-menu {
                    ul.main-menu {
                        .nav-dropdown {
                            left: -30px;

                        }
                    }
                }
            }
        }
    }
}


/* bannar area start*/
.hero-section {
    position: relative;

    .bannar-wrapper {
        //background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 40%;
        padding-bottom: 130px;
        // min-height: 710px;
        // display: flex;
        // align-items: flex-end;

        @media(max-width: 767px) {
            //align-items: center;
            // min-height: 530px;
            padding-top: 200px;
            padding-bottom: 70px;
        }

        &.bg-overlay {
            position: relative;

            // &:after {
            //     position: absolute;
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     pointer-events: none;
            //     background-color: rgba(0, 0, 0, 0.2);
            // }
            &:after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                pointer-events: none;
                background-image: url(../images/banner-img/Kaabo-Scooter-banner.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .banner-content-inner {
            position: relative;
            z-index: 1;

            // @media(min-width: 768px) {
            //     margin-bottom: 125px;
            // }

            .bannar-heading {
                font-size: 30px;
                line-height: 40px;
                font-weight: 700;
                color: #fff;
                margin: 0;

                @media(max-width: 576px) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            .banner-subtitle {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                margin: 0;
                margin-bottom: 8px;

                @media(max-width: 576px) {
                    font-size: 14px;
                }
            }
        }

        .bannar-btn {
            text-align: right;

            .get-quotation-btn {
                background-color: $primary-color;
                color: $color-white;
                display: inline-block;
                padding: 15px 22px;
                line-height: 1;
                font-size: 12px;
                letter-spacing: .6px;
                border-radius: 4px;

                @media(max-width: 767px) {
                    padding: 10px 15px;
                    font-size: 10px;
                }
            }
        }

        @media(max-width: 767px) {

            .bannar-content-wrap {
                text-align: center;
            }

            .bannar-btn {
                margin-top: 30px;
                text-align: center;
            }
        }
    }
}

/*=========== brand css ================*/
.brand-area {
    padding-top: 30px;

    ul.nav {
        text-align: center;
        justify-content: center;
        padding: 0;

        li {
            a {
                padding: 0;

                //opacity: .3;
                &.active {
                    opacity: 1;
                }

                @media(max-width: 767px) {
                    width: 80px;
                }
            }

            &:not(:last-child) {
                margin-right: 20px;

                @media(max-width: 767px) {
                    margin-right: 10px;
                }
            }
        }
    }

    p {
        color: #000000;
        margin: 0;
        font-size: 15px;
        line-height: 25px;
        margin-top: 18px;
        text-align: center;
    }

    @media(max-width: 767px) {
        p {
            font-size: 13px;
            line-height: 22px;
        }
    }
}

/*======== product css ===========*/
.product-area {
    padding-top: 80px;
    padding-bottom: 20px;

    @media(max-width: 767px) {
        padding-top: 50px;
    }

    &.wolf-warrior-section,
    &.mantis-area-section {
        .product-tab-list-inner {
            .btn-box {
                padding-top: 35px;

                @media(max-width: 480px) {
                    padding-top: 0;
                }
            }
        }
    }

    &.SkyWalker-area-section {
        background-color: #F0EFEB;
    }
}

.product-tab-list-inner {
    display: grid;
    grid-template-columns: 365px 1fr 170px;
    position: relative;

    .product-column-item {}

    .product-content-wrap {
        display: grid;
        grid-template-columns: 1fr 200px;

        @media(max-width: 1024px) {
            grid-template-columns: 1fr 160px;
        }
    }

    .product-thumb {
        margin-top: -100px;
        text-align: center;

        img {
            padding: 70px;
        }
    }

    .product-item {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        img {
            width: 30px;
        }

        h3 {
            font-size: 18px;
            margin: 0;
            line-height: 28px;
        }

        p {
            margin: 0;
            font-size: 12px;
        }
    }

    .tab-title {
        margin-bottom: 20px;

        h2 {
            font-size: 28px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 10px;
            line-height: 30px;
            font-weight: 500;

        }

        p {
            color: #7a7a7a;
            margin: 0;
        }

        @media(max-width:480px) {
            h2 {
                font-size: 22px;
            }

            p {
                font-size: 10px;
                line-height: 16px;
            }
        }
    }

    .btn-box {
        margin-top: 35px;
    }

    @media(max-width: 1024px) {
        .product-thumb {
            margin-top: -50px;
        }
    }

    @media(max-width: 767px) {
        grid-template-columns: 260px 1fr;

        .product-column-item {
            &.product-tab-content {
                justify-self: start;
            }

            &.product-thumbnial {
                grid-column: 3/6;
                justify-self: end;
            }

            &.product-info {
                display: none;
            }
        }

        .product-thumb {
            text-align: right;
            margin-left: auto;
        }
    }

    @media (max-width: 576px) {
        grid-template-columns: 200px 1fr;

        .product-thumb {
            margin-top: -20px;
        }
    }

    @media (max-width: 480px) {
        grid-template-columns: 160px 1fr;

        .product-thumb {
            img {
                padding: 0;
            }
        }
    }

    @media (max-width: 350px) {
        .product-thumb {
            margin-left: -48px;
            margin-right: -28px;
        }

        .btn-box {
            padding-top: 0 !important;
            margin-top: 20px;

            a {
                font-size: 12px;
                padding: 12px 15px;
            }
        }
    }
}

.product-tab-wrap {
    ul.nav {
        flex-direction: column;

        li.nav-item {
            a.nav-link {
                color: #00000052;
                padding: 0;
                display: inline-block;
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                    margin-right: 10px;
                }

                &.active {
                    color: #000000;
                }

                @media(max-width: 576px) {
                    display: flex;
                    align-items: center;
                }

                @media(max-width: 480px) {
                    font-size: 10px;

                    img {
                        width: 25px;
                        margin-right: 5px;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 18px;
            }

            @media(max-width:767px) {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }

}

.mobile-info-area {
    background-color: #f0f0f0;

    @media(min-width:767px) {
        display: none;
    }

    .info-area-only-for-mobile {
        padding: 20px 0;
    }

    .info-box-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .info-box-item {
            display: flex;
            align-items: center;
            justify-self: center;
            padding: 0 16px;

            img {
                width: 25px;
            }

            .info-title {
                margin-left: 10px;

                h3 {
                    margin: 0;
                    font-size: 18px;
                }

                p {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }

        @media(max-width: 596px) {
            .info-box-item {
                padding: 0;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                img {
                    margin-bottom: 8px;
                }

                .info-title {
                    margin-left: 0;

                }
            }
        }

        @media(max-width: 480px) {
            .info-box-item {
                img {
                    width: 20px;
                }

                .info-title {
                    h3 {
                        font-size: 10px;
                    }

                    p {
                        font-size: 9px;
                        line-height: 12px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

/*=========== tabs css ==============*/
.option-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    z-index: 1;

    .tab-left-item-inner {
        display: flex;
        flex-direction: column;
        height: 95%;
    }

    @media(max-width: 1200px) {
        flex-flow: column;
    }

    @media(max-width: 992px) {}

    .tab-title {
        margin-bottom: 30px;

        h2 {
            font-size: 30px;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 10px;
            line-height: 30px;
            font-weight: 500;
        }

        p {
            color: #7a7a7a;
            margin: 0;
        }
    }

    ul.nav {
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 25px;

        li.nav-item {
            a.nav-link {
                color: #00000052;
                padding: 0;
                margin-left: -15px;
                display: inline-block;
                font-size: 16px;
                font-weight: 600;

                img {
                    width: 48px;
                }

                &.active {
                    color: #000000;
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .product-tab-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        h3 {
            font-size: 18px;
            margin: 0;
            line-height: 28px;
            text-transform: uppercase;
        }

        p {
            margin: 0;
        }
    }

    .btn-box {
        margin-top: auto;
    }
}

/*=========== guidecatalog css =========*/
.guidecatalog-area {
    .button-group {
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;

        a {
            width: 290px;
        }

        @media(max-width: 767px) {
            a {
                width: 260px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 15px 12px;
            }
        }

        @media (max-width: 480px) {
            a {
                width: auto;
                justify-content: center;
                padding: 13px 15px;
                font-size: 10px;
            }
        }
    }
}

/*========= kaabo-suppllier-shop ============*/

.kaabo-suppllier-shop {
    .row {
        [class*=col-] {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &:first-child {
                background-image: url(../images/img/sec-img-1.jpg);
            }

            &:last-child {
                background-image: url(../images/img/sec-img-2.jpg);
            }
        }
    }

    .section-content-wrap {
        padding: 105px;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2,
        p {
            color: #ffffff;
            margin: 0;
        }

        h2 {
            margin-bottom: 14px;
            font-size: 22px;
            font-weight: 400;
        }

        p {
            font-size: 13px;
        }

        .btn-box {
            margin-top: 18px;
        }

        @media(max-width: 767px) {
            padding: 100px 0px;
            min-height: auto;
        }
    }
}


/*========= our partner area =========*/
.our-partner-area {
    .single-brand {
        h3 {
            font-size: 26px;
            font-weight: 500;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 0;
        }

        p {
            color: #000000;
            margin: 0;
            font-size: 15px;
            line-height: 25px;
            margin-top: 15px;
        }

        @media(max-width: 767px) {
            p {
                font-size: 13px;
                line-height: 22px;
            }
        }
    }

    .nav {
        align-items: center;
        justify-content: center;

        li {
            &:not(:last-child) {
                margin-right: 20px;

                @media(max-width: 767px) {
                    margin-right: 10px;
                }
            }

            a {
                padding: 0;
                width: 160px;
                //opacity: .3;

                @media(max-width: 767px) {
                    width: 70px;
                }

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}


/*========== why choose =============*/
.why-choose-kaabo-area {
    overflow: hidden;

    .grid-item {
        >[class*=col-] {
            display: flex;
        }

        @media(max-width:768px) {
            display: none;
        }
    }

    .why-choose-single-item {
        text-align: center;
        padding: 50px 20px 20px;
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 6px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);

        img {
            //width: 50px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 15px;
            line-height: 25px;
        }

        p {
            margin: 0;
            color: #7a7a7a;
        }
    }

    .slider-only-mobile {
        @media(min-width: 768px) {
            display: none;
        }

        .swiper-wrapper {
            align-items: flex-start;

        }

        .why-choose-item {
            transform: scale(.9);

            &.swiper-slide-active {
                transform: scale(1);
            }
        }

        .why-choose-item {
            .why-choose-single-item {
                margin-bottom: 0;
                min-height: 340px;
            }
        }
    }

}

/*========= testimonial =============*/
.testimonial-area {
    overflow: hidden;

    .testimonial-block-slider {
        padding: 30px 0;

        .swiper-slide-active {
            .single-testimonial-slider {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
            }
        }

        .single-testimonial-slider {
            background-color: #ffffff;
            padding: 25px;
            border-radius: 8px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            .commentor-bio {
                .commentor-image {
                    margin-bottom: 25px;

                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }

                .commentor-content {
                    margin-bottom: 15px;

                    p {
                        font-size: 12px;
                        font-weight: 400;
                        margin: 0;
                        color: #000;
                        line-height: 22px;
                        margin-bottom: 10px;
                    }
                }
            }

            .profile-info {
                text-align: right;
                display: block;

                .author-name {
                    font-size: 14px;
                    font-weight: 300;
                    color: #7a7a7a;
                }
            }
        }
    }

}

// slider css
.testimonial-area {

    .swiper-slide {

        &.swiper-slide-prev,
        &.swiper-slide-next {
            &::before {
                position: absolute;
                content: "";
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                background: #ffffff;
                left: 0;
                background: linear-gradient(250deg, rgba(126, 213, 0, 0) 0%, white 75%);
            }
        }

        &.swiper-slide-next {
            &::before {
                background: linear-gradient(90deg, rgba(126, 213, 0, 0) 0%, white 75%);
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);

        &::after,
        &::before {
            font-size: 20px;
            font-weight: 700;
            color: $primary-color;
        }
    }

    .swiper-button-prev {
        left: 30%;

        @media(max-width: 992px) {
            left: 0;
        }
    }

    .swiper-button-next {
        right: 30%;

        @media(max-width: 992px) {
            right: 0;
        }
    }
}

.together-area {
    overflow: hidden;


    .swiper-button-prev,
    .swiper-button-next {
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);
        padding: 8px;

        &::after,
        &::before {
            font-size: 20px;
            font-weight: 700;
            color: #ffffff;
        }
    }



    .swiper-button-prev {
        left: 22%;

        @media(max-width: 992px) {
            left: 0;
        }
    }

    .swiper-button-next {
        right: 22%;

        @media(max-width: 992px) {
            right: 0;
        }
    }

    @media(min-width:768px) {
        .swiper-slide-active {
            transform: scale(1.2);
            transition: .4s;
        }

        .swiper-wrapper {
            height: 450px !important;
        }
    }


}

/*========= together =============*/

.together-area {

    .swiper-slide.swiper-slide-prev,
    .swiper-slide.swiper-slide-next {
        opacity: .7;

        &::before {
            content: unset;
        }
    }

    .single-video {
        position: relative;

        img {
            width: 100%;
        }

        iframe {
            width: 100%;
            height: 450px;
        }

        // &::after {
        //     position: absolute;
        //     content: "";
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        //     background: #fff;
        //     background: linear-gradient(0deg, #000 0%, rgba(9, 32, 86, 0) 60%);
        //     transition: all 0.4s ease;
        //     pointer-events: none;
        // }

        a.image-popup {
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            background-color: #B4202D;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            color: #fff;
            border-radius: 50%;

            @media(max-width: 1024px) {
                top: 50%;
            }

            @media(max-width: 991px) {
                top: 25%;
            }

            @media(max-width: 767px) {
                top: 50%;
            }
        }

        .video-title {
            position: absolute;
            color: #ffffff;
            margin: 0;
            font-size: 20px;
            z-index: 1;
            top: auto;
            bottom: -50px;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .4s;
        }
    }

    .swiper-slide-active {
        .single-video {
            .video-title {
                bottom: 25%;

                @media(max-width: 1200px) {
                    bottom: 20%;
                }

                @media(max-width: 1024px) {
                    bottom: 8%;
                }

                @media(max-width: 991px) {
                    bottom: 52%;
                }

                @media(max-width: 767px) {
                    bottom: 0;
                }
            }
        }
    }
}