@import 'header';
@import 'footer';
@import 'fontface';
@import 'button';
@import 'form';

/*======== custom header ============*/
.kaabo-header-area {
    .header-top-wrapper {
        background-color: #f3f3f3;

        .header-top {
            padding: 7px 0;

            .search {
                a {
                    color: #888888;
                }
            }

            ul {
                li {
                    color: #888888;
                }

                &.cntry-flag {
                    li {
                        color: #000000;
                    }
                }

                &.login-icon:before {
                    background-color: #888888;
                }
            }
        }
    }

    .header_area {
        margin-top: 0;

        .main-menu-wrapper {
            .nav-tools {
                padding-left: 0;
            }

            .header-right-button {
                padding-right: 0;
            }
        }
    }
}

.counter-area,
.footer-area {
    background-color: #fff;
}

/*====== bannar area start ==========*/
.hero-section {
    position: relative;

    .bannar-wrapper {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding: 200px 0;

        .banner-content-inner {
            position: relative;
            z-index: 1;

            .bannar-heading {
                font-size: 30px;
                line-height: 40px;
                font-weight: 700;
                color: #fff;
                margin: 0;
            }

            .banner-subtitle {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                color: #fff;
                margin: 0;
            }
        }
    }
}

.support-content-section {
    @media (max-width: 767px) {
        &.section-padding {
            padding: 0;
        }
    }

    .section-title {
        margin-bottom: 0;

        h2 {
            text-transform: capitalize;
        }
    }

    p {
        margin: 0;
    }

    // img {
    //     height: 100%;
    // }

    .list-item {
        padding-left: 20px;
        margin: 20px 0;

        li {
            list-style: disc;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            ul {
                padding-left: 10px;
                margin-top: 10px;

                li {
                    list-style: none;
                }
            }
        }
    }

    .technical-support,
    .marketing-support,
    .aftersale-support {
        @media(max-width: 767px) {
            padding: 0 !important;
            padding-left: 10px !important;
            padding-right: 10px !important;

            .section-title {
                padding-top: 30px;
                text-align: center !important;

                h2 {

                    &::after {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .btn-box {
                margin-top: 15px;
                margin-bottom: 30px;
                text-align: center;
            }

            .list-item {
                margin-bottom: 20px;
                text-align: left;
            }

            p {
                text-align: left;
            }
        }
    }
}

.kaabo-contact-form-area {
    .section-title {
        h2 {
            text-transform: capitalize;
        }
    }
}